*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #57a9f7;
    overflow: hidden;
    padding: 20px;
  }
  
  /* Style the title link inside the navigation bar */
.title{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  /* Style the links inside the navigation bar */
.topnav .sub-title {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }


/* Header */

.encabezado{
  display: block;
}

.img-mardel {
  background-image: url("/resources/img/mardelplata/mardel08.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.txt-mardel {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-size: xx-large;
}

/* Primera seccion index */
/* .secc1{
  display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
  justify-items: center;
  padding: 5px;
  margin-top: 5px;   
} */

.sec_1{
  padding: 10px;
}

.card1{
  background-color:lightgrey;
  width: 30vw;
  justify-content: center;
  padding: 20px;
}

.card2{
  background-color:lightgrey;
  justify-content: center;
  padding: 20px;

}

/* Footer */
.pie{
  display: flex;
  background-color: #57a9f7;
  padding: 20px;
  margin-top: 5px;
  justify-content: space-between;
}

.pie-item{
  color: white;
}

/* hover iconos Font Awesome redes sociales */
.fa-brands:hover{
  color: blue;
}

.footer{
  /* SOLUCION PARA PONER EL FOOTER ABAJO */
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Google Fonts Montserrat */
@font-face {
  font-family: 'Prompt', sans-serif;
  src: url("/resources/fonts/Prompt-Regular.ttf");
}