.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	/* border: 8px solid;
	border-image: linear-gradient(-50deg, rgb(67, 232, 235), #0042b3, rgb(80, 221, 246), rgb(26, 172, 229), rgb(4, 187, 237), #00e2e6, rgb(81, 185, 241)) 1; */
	margin: 2rem auto;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #fcffff;
	transition: .4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}

.image-content-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url(/resources/img/playas/playa_grande1.JPG);
	background-size: cover;
	transition: .3s ease-in-out;
}


.image-content-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url(/resources/img/playas/playa_bristol1.jpg);
	background-size: cover;
	transition: .3s ease-in-out;
}

.image-content-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url(/resources/img/playas/playa_puntamogotes3.jpg);
	background-size: cover;
	transition: .3s ease-in-out;
}

.image-content-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url(/resources/img/playas/playa_varese2.JPG);
	background-size: cover;
	transition: .3s ease-in-out;
}

.image-content-5 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url(/resources/img/playas/playa_laperla2.jpg);
	background-size: cover;
	transition: .3s ease-in-out;
}

.image-content-6 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url(/resources/img/playas/playa_elfaro2.jpg);
	background-size: cover;
	transition: .3s ease-in-out;
}
.text {
	position: absolute;
	top: 0;
	left: 150;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	overflow-y: scroll;
	word-wrap: break-word;
}

.wrap:hover .overlay
 {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}